:root {

    --bg-color-body: hsl(233, 47%, 7%);
    --bg-color-card: hsl(244, 38%, 16%);
    --acc-color: hsl(277, 64%, 61%);

    --text-color-primary: hsl(0, 0%, 100%);
    --text-color-paragraph: hsla(0, 0%, 100%, 0.75);
    --text-color-heading: hsla(0, 0%, 100%, 0.6);

    --font-weight-semibold: 700;
    --font-weight-normal: 400;

    --font-size-paragraph: 0.9375rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    filter: brightness(0.6) sepia(1) hue-rotate(240deg) saturate(2);
}

body {
    font-family: "Inter", serif;
    min-height: 100vh;
    background-color: var(--bg-color-body);
    color: var(--text-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.container {
    background-color: var(--bg-color-card);
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    max-width: 490px;
}

.details {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
}

h1 span {
    color: var(--acc-color);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.details > p {
    font-family: Lexend Deca;
    font-weight: var(--font-weight-normal);
    color: var(--text-color-paragraph);
    line-height: 1.5;
    gap: 2rem;
}

.stats p {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-normal);
    color: var(--text-color-heading);   
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap:.75rem;
}

.stats span {
    font-size: 2rem;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
}

@media (min-width: 500px) {

    .stats {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0;
    }
}

@media (min-width: 1000px) {

    .container {
        flex-direction: row;
        max-width: 1000px;
    }

    .details {
        display: flex;
        flex-direction: column;
        text-align: start;
        flex: 2;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
    }

    .stats {
        margin-top: 2rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }

    .container img {
        flex: 1;
        height: auto;
        object-fit: contain;
    }
}

